.font-weight-bold {
  font-weight: bold;
}

.mr-2 {
  margin-right: 0.5rem;
}

.badge {
  padding: 0.25em 0.6em;
  font-size: 0.75em;
  font-weight: 700;
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
}

.bg-warning {
  background-color: #ffc107;
}

.bg-primary {
  background-color: #007bff;
}

.bg-success {
  background-color: #28a745;
}

.bg-danger {
  background-color: #dc3545;
}